/**
* @desc         repository item component styles
* @requires     variables
*/

.repository-item {
  @include flex-column;
  justify-content: space-between;
  gap: $fs-regular;

  height: 12rem;
  padding: 2rem;

  border-radius: $fs-regular;
  border: 1px solid $secondary-color;

  transition: border .2ms ease-in-out;

  &:hover {
    border: 1px solid $primary-color;
  }

  &__header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    @include flex-row;
    gap: $fs-xlarge;
  }
}
