/**
* @desc         app styles
* @requires     variables, placeholders
*/

:root {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

html {
  @extend %webkit-scrollbar;
}

#app {
  display: grid;
  grid-template-columns: 20vw 80vw;
  align-items: start;
  overflow: hidden;


  height: 100vh;
  padding: $fs-xxlarge 0;

  margin: 0;
  //padding: 0;

  font-family: $ff-regular;
  font-size: $fs-small;

  @include for-tablet {
    font-size: $fs-regular;
  }
}

aside {
  width: 20vw;
  text-align: center;
}

main {
  overflow-x: hidden;
  overflow-y: auto;

  width: 75vw;
  height: 100vh;

  section {
    @include flex-column;
    gap: $fs-xxlarge;
    margin-bottom: 5rem;
  }
}

a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    color: $primary-hover-color;
  }
}
